html, body, #app, .application, .overallContainer, #app>div{
	height:100%;
}

body {
	margin:0px
}

input {
	height: 25px;
	width: 150px
}

.searchLabel {
  color: blue;
  width: 150px;
  margin: 10px;
  font-size: 30px;
  display: inline-block;
}

.overallContainer {
  display:flex;
  flex-direction:row-reverse;
  justify-content: space-between;
}

.mapContainer {
  flex:3;
	position: relative;
	overflow: auto;
}

.header {
  flex:1;
}

.application{
	display:flex;
	flex-direction:column;
}
